/* variables & default font size */
:root {
    --background: rgb(24, 22, 20);
    --text: rgb(196, 196, 196);
    --red: #EB8078;
    --yellow: #EBBA78;
    font-size: 16px;
}

/* colors! */
.yellow {
    color: var(--yellow);
}

.red {
    color: var(--red);
}

/* styling yep */
body {
    font-family: 'Roboto Mono', 'Noto Mono', monospace;
    color: var(--text);
    background-color: var(--background);
    
}

section {
    scroll-margin-top: 99px;
    margin-top: 99px;
    margin-bottom: 99px;
    margin-left: calc(9% - 9px);
    margin-right: calc(9% - 9px);
}

#about {
    margin-top: 119px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

a {
    text-decoration: none;
}

a:link {
    color:var(--yellow)
}

a:visited {
    color:var(--yellow)
}

a:hover {
    filter: brightness(130%);
}

a.project {
    font-size: 24px;
}

span.project-date {
    color:var(--red)
}

p.project-description {
    font-size: 16px;
    color:var(--text);
}

#projects-cs {
    margin-top: 49px;
    margin-bottom: 59px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 99px;
    width: 100%;

    display: flex;
    align-items: center;
    gap: 39px;
    padding-left: calc(9% - 9px);

    background-color: var(--background);
    z-index: 9;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 15px;
}
  
::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: #3B201E;
}

::-webkit-scrollbar-thumb:hover {
    background: #3B201E;
}

/* mobile nav */
@media screen and (max-width: 450px) {
    nav {
        height: 59px;
    }
    nav a {
        display: none;
    }
    #about {
        margin-top: 79px;
    }
    #title-logo {
        display: inline;
    }
}